:root {
  --white: #ffffff;
  --black: #0a0b0d;
  --darkblue: #1f2937;
  --red: #b50101;
  --blue: #2485c9;
  --grey: #e5e7eb;
  --sans: Martel sans, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--sans);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
}

h1,
h2 {
  color: white;
}

/* Header & nav bar styling */

.nav-bar {
  background-image: url(images/freebasstranscriptionsheader.png);
  object-fit: cover;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  display: inline;
  padding: 12px;
}

a {
  text-decoration: none;
  color: var(--black);
  font-family: var(--sans);
  font-size: 20px;
  font-weight: 400;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}

.nav-bar img {
  padding: 20px;
  max-width: 200px;
  align-self: flex-start;
}

.nav-bar ul {
  padding-right: 40px;
}

/* Hero section styling */

.flex-hero-top {
  background-color: var(--darkblue);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 100px 50px 30px 50px;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-bottom: 50px;
  color: #e5e7eb;
  order: 1;
}

.img-placeholder {
  background-color: var(--darkblue);
  color: var(--white);
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  order: 2;
}

.img-placeholder img {
  width: 100%;
  border-radius: 5px;
}

/* general button styling */

button {
  border-radius: 8px;
  border: none;
  color: var(--white);
  font-weight: 400;
  padding: 8px 24px;
  background-color: var(--blue);
}

button:hover {
  opacity: 0.7;
}

button a {
  color: var(--white);
}

/* Thumbnail section styling */

.information-header {
  text-align: center;
  padding-top: 20px;
}

.thumbnail-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-bottom: 40px;
}

.thumbnail-header {
  color: var(--darkblue);
  font-size: 36px;
  font-weight: extra-bold;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border: 2px solid var(--blue);
  border-radius: 15%;
  margin: 16px;
}

.description {
  width: 100px;
  height: 100px;
  margin: 16px;
  text-align: center;
}

/* Testimonial styling */

.testimonial {
  background-color: var(--grey);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4rem;
}

.quote-container {
  display: flex;
  flex-flow: row wrap;
}

span {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
}

blockquote p {
  max-width: 600px;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--black);
}

.author,
.hometown {
  align-self: flex-end;
  font-size: 1.5rem;
  color: var(--blue);
  font-weight: 600;
}

.author {
  padding-right: 0.5rem;
}

.button-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.prev-btn,
.next-btn {
  margin: 0.3rem;
}

/* CTA styling */

.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  background-color: var(--blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  color: var(--grey);
  padding: 0.5rem 1rem;
  margin: 2rem;
  border-radius: 8px;
}

.cta-btn {
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: 1rem;
}

.cta-btn:hover {
  background-color: var(--darkblue);
}

.cta h2 {
  font-size: 2rem;
  padding: 1rem 1rem 0 1rem;
}

.cta p {
  padding: 0 0 1rem 0;
  margin: 0;
}

/* Footer styling */

footer {
  background-color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: lighter;
  color: var(--grey);
  height: 100px;
}

/* Mobile, tablet, desktop styling */

/* TODO fix nav a at <600px */

@media (max-width: 600px) {
  .thumbnail-container {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .thumbnail {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .description {
    margin: 0 auto;
    width: 70%;
  }
  .author {
    border: 2px solid red;
  }
}
@media (max-width: 940px) {
  .hero-text {
    order: 2;
    text-align: center;
    justify-content: center;
  }
  .img-placeholder {
    order: 1;
  }
}
