:root {
  --white: #ffffff;
  --black: #0a0b0d;
  --darkblue: #1f2937;
  --red: #b50101;
  --blue: #2485c9;
  --grey: #e5e7eb;
  --sans: Martel sans, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--sans);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
}

h1,
h2 {
  color: white;
}

.nav-bar {
  background-image: url(images/freebasstranscriptionsheader.png);
  object-fit: cover;
}

.flex-hero-top {
  background-color: var(--darkblue);
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  display: inline;
  padding: 12px;
}

a {
  text-decoration: none;
  color: var(--black);
  font-family: var(--sans);
  font-size: 20px;
  font-weight: 400;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}

.nav-bar img {
  padding: 20px;
  max-width: 200px;
  align-self: flex-start;
}

.nav-bar ul {
  padding-right: 40px;
}

.flex-hero-top {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 100px 50px 30px 50px;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-bottom: 50px;
  color: #e5e7eb;
}

button {
  border-radius: 8px;
  border: none;
  color: var(--white);
  font-weight: 400;
  padding: 8px 24px;
  background-color: var(--blue);
}

.img-placeholder {
  background-color: var(--darkblue);
  color: var(--white);
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.img-placeholder img {
  height: 200px;
  width: 400px;
  border-radius: 5px;
}

.information-header {
  text-align: center;
  padding-top: 20px;
}

.thumbnail-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-bottom: 40px;
}

.thumbnail-header {
  color: var(--darkblue);
  font-size: 36px;
  font-weight: extra-bold;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border: 2px solid var(--blue);
  border-radius: 15%;
  margin: 16px;
}

.description {
  width: 100px;
  height: 100px;
  margin: 16px;
  text-align: center;
}

.quote-container {
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

blockquote {
  margin: 0px;
}

blockquote p {
  max-width: 600px;
  font-size: 36px;
  font-weight: 100;
  color: var(--black);
  margin-bottom: 0px;
}

.quote-author {
  align-self: flex-end;
  font-size: 24px;
  color: var(--blue);
  font-weight: 600;
  margin-right: 300px;
  padding-bottom: 50px;
}

.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  background-color: var(--blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  color: var(--grey);
  padding: 0.5rem 1rem;
  margin: 2rem;
  border-radius: 8px;
}

.cta-btn {
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: 4rem;
}

.cta-btn:hover {
  background-color: var(--darkblue);
}

.cta h2 {
  font-size: 2rem;
}

footer {
  background-color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: lighter;
  color: var(--grey);
  height: 100px;
}
